footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FAFAFA;
}

p {
    font-size: 12px;
    text-align: center;
}

a > p {
    text-decoration: underline;
    margin-bottom: 0 !important;
}