<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 col-md-9 col-lg-7 col-xl-7">
      <div class=" card border-0 shadow-lg">
        <div class="card-title">
          <div class="row">
            <div class="col-1">
              <a [routerLink]="['/']">
                <fa-icon [icon]="faArrow"></fa-icon>
              </a>
            </div>
            <div class="col-4">
              <h2>Admin</h2>
              <p>{{admin.state | stateToText}}</p>
            </div>
            <div class="col-auto align-self-center time" hidden>
              <div class="no-wrap">
                <p [ngClass]="startRun && liveTimer.currentTime != 0 ? 'time': 'time-grey'">{{liveTimer.currentTime | milliSecondsToTime}}</p>
                <p [ngClass]="startRun && liveTimer.currentTime != 0 ? 'decis': 'decis-grey'">{{liveTimer.currentTime | milliSecondsToTime:true}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
            <div class="card-body text-center" [hidden]="true" >
              <button class="btn" [disabled]="admin.state !== readyState" (click)="onStartRunClicked()">
                Start
              </button>
            </div>
          </div>
      </div>
     
     
        <div class="row mt-5">
          <div class="col-6">
            <div class="card zoom shadow border-0">
              <div class="card-body">
                <h3>Wettkampf <br/> eintragen</h3>
                <p>Drücken sie hier, <br/> um ein Rennen anzulegen</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card zoom shadow border-0">
              <div class="card-body py-3">
                <h3>Rennen <br/> starten</h3>
                <select class="form-control">
                  <option selected disabled>Rennen</option>
                </select>
                <a class="card-link w-50" href="javascript:void(0)" >
                  <h5 class="arrow" >Starten ➜</h5>
                </a>

              </div>
            </div>
          </div>
        </div>
      
      <!--[hidden]="hiddenElements[i]"-->
      <!--
      <div class="container mt-3"  [@slideAnimation]="finishedRunnerList.length" *ngIf="startRun" style="height:50vh; overflow:auto; ">
        <div class="card shadow rank-item mt-2" [hidden]="hiddenAssignedRunners[i]" *ngFor="let runner of finishedRunnerList; let i= index">
          <div class="card-block ">
            <div class="row m-2  align-items-center">
              <div class="col-9">
                <div class="row align-items-center">
                  <h4 class="rank col-auto">#{{i+1}}</h4>
                  <input type="number" class="form-control col-3 mb-3" placeholder="runner number" [(ngModel)]="runner.Starter">

                  <a class="card-link col-auto" href="javascript:void(0)" (click)="onAssignTimeToRunnerClicked(i)">
                    <h5 class="arrow">➜</h5>
                  </a>

                </div>

              </div>

              <div class="col-3">
                <div class="no-wrap">
                  <p class="time-sm">{{runner.Time | milliSecondsToTime}}</p>
                  <p class="decis-sm">{{runner.Time | milliSecondsToTime:true}}</p>
                </div>

              </div>



            </div>

          </div>
          
        </div>
       
      </div>
       -->
    </div>



  </div>



</div>