.card{
    border-radius: 20px;
    height: 500px;
    min-width: 550px;
}
.container{
    height: 100%;
}
.row{
    height: 100%;
    padding-top: 40px;
}

p{
    display: inline;
}

.time{
    font-size: 64px;   
    color: #26D2B3;
    font-weight: bold;
}

.time-grey{
    font-size: 64px;   
    font-weight: bold;
    color: lightgray;
}

.time-small{
    font-size: 18px;   
    font-weight: bold;
    color: lightgray;
}

.decis{
    font-size: 36px;   
    color: #26D2B3;
    font-weight: bold;
}

.decis-grey{
    font-size: 36px;   
    font-weight: bold;
    color: lightgray;
}

.decis-small{
    font-size: 12px;   
    font-weight: bold;
    color: lightgray;
}

h3{
    font-weight: bold;
    display: inline;
}

a{
    margin-top: 200px;
    color: #000000;
    font-size: 24px;  
    font-weight: bold;
}
