<!--<div class="container row justify-content-md-center align-items-md-center">
    <div class="card shadow-lg">
        <div class="card-titel m-4">
            <div class="row-md-0">
                <a [routerLink]="['/']" class="card-link">
                    <h3>🠬</h3>
                    <h3 class="offset-md-0">Viewer</h3>
                </a>
            </div>
            <div class="row-md-0">
                <p class="offset-md-1">{{viewerMessage}}</p>
            </div>
        </div>
        <div class="card-body m-4 justify-content-md-center align-items-md-center">
            <div class="row-md-0">
                <div *ngIf="!measuring" class="offset-md-1 align-self-center">
                    <p class="time-grey">{{curTime | milliSecondsToTime}}</p>
                    <p class="decis-grey">{{curTime | milliSecondsToTime:true}}</p>
                </div>
                <div *ngIf="measuring" class="offset-md-1 align-self-center">
                    <p class="time">{{curTime | milliSecondsToTime}}</p>
                    <p class="decis">{{curTime | milliSecondsToTime:true}}</p>
                </div>
                <div *ngIf="!measuring && (prevTime >= 0)" class="offset-md-1 align-self-end">
                    <p class="time-small">Previous run:</p>
                    <br />
                    <p class="time-small">{{prevTime | milliSecondsToTime}}</p>
                    <p class="decis-small">{{prevTime | milliSecondsToTime:true}}</p>
                </div>
            </div>
        </div>
    </div>-->

<div class="container" style="height:100%">
    <div class="row justify-content-center align-items-center" style="height:100%">
        <div class="card col-6 shadow">
            <div class="row">
                <div class="col-md-1">
                    <a [routerLink]="['/']" class="card-title">
                        <fa-icon [icon]="faArrow"></fa-icon>
                    </a>
                </div>
                <div class="card-title mb-0">
                    Viewer
                    <p>{{viewerMessage}}</p>
                </div>
            </div>
            <div class="card-body">
                <div *ngIf="!measuring" class="offset-md-2 align-self-center">
                    <p class="time-grey">{{curTime | milliSecondsToTime}}</p>
                    <p class="decis-grey">{{curTime | milliSecondsToTime:true}}</p>
                </div>
                <div *ngIf="measuring" class="offset-md-2 align-self-center">
                    <p class="time">{{curTime | milliSecondsToTime}}</p>
                    <p class="decis">{{curTime | milliSecondsToTime:true}}</p>
                </div>
                <div *ngIf="!measuring && (prevTime >= 0)" class="offset-md-2 align-self-end">
                    <p class="time-small">Previous run:</p>
                    <br />
                    <p class="time-small">{{prevTime | milliSecondsToTime}}</p>
                    <p class="decis-small">{{prevTime | milliSecondsToTime:true}}</p>
                </div>

            </div>



        </div>

    </div>
</div>