<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card">
      <div class="card-body">
        <h2>Participant</h2>
        <sub>Fill in the form to register for the run</sub>
        <table>
          <tr>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
          </tr>
          <tr>
            <th>
              <p>Sex</p>
              <input type="radio" name="sex" value="m">m
              <input type="radio" name="sex" value="w">w
              <input type="radio" name="sex" value="o">o
            </th>
            <th><input type="text" class="form-control"></th>
          </tr>
          <tr>
            <th>
              <select>
                <option selected="selected" disabled>nationality</option>
              </select>
            </th>
            <th><input type="text" class="form-control"></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
          </tr>
        </table>

        <input type="radio" value="agree">I accept the data agreement<br>
        <a href="#" class="card-link">REGISTER ➜</a>
      </div>
    </div>
  </div>
</div>