<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card col-11 col-md-10 shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-1">
            <fa-icon [icon]="icon"></fa-icon>
          </div>
          <div class="col-11 col-md-8">
            <div>
              <h2>Participant</h2>
              <sub>Fill in the form to register for the run</sub>
              <table>
                <tr>
                  <th><input type="text" class="form-control" name="firstname" placeholder="first name"></th>
                  <th><input type="text" class="form-control" name="lastname" placeholder="last name"></th>
                </tr>
                <tr>
                  <th>
                    <p>Sex</p>

                    <label class="radio">m
                      <input type="radio" name="sex" value="m">
                      <span class="checkmark"></span>
                    </label>
                    <label class="radio">f
                      <input type="radio" name="sex" value="w">
                      <span class="checkmark"></span>
                    </label>
                    <label class="radio">o
                      <input type="radio" name="sex" value="o">
                      <span class="checkmark"></span>
                    </label>
                  </th>
                  <th><input type="number" min="1920" max="3000" class="form-control" name="dob"
                             placeholder="year of birth"></th>
                </tr>
                <tr>
                  <th>
                    <select name="nationality" class="minimal">
                      <option selected="selected" id="selectstandard" disabled>nationality</option>
                    </select>
                  </th>
                  <th><input type="text" class="form-control" name="place" placeholder="place"></th>
                </tr>
                <tr>
                  <th><input type="text" class="form-control" name="street" placeholder="street"></th>
                  <th><input type="text" class="form-control" name="postcode" placeholder="postcode"></th>
                </tr>
                <tr>
                  <th><input type="text" class="form-control" name="housenumber" placeholder="house number"></th>
                  <th><input type="text" class="form-control" name="team" placeholder="team"></th>
                </tr>
                <tr>
                  <th><input type="email" class="form-control" name="email" placeholder="email"></th>
                  <th><input type="text" class="form-control" name="phone" placeholder="phone"></th>
                </tr>
              </table>


              <label class="radio">I accept the data agreement
                <input type="radio" name="agreement" value="true">
                <span class="checkmark"></span>
              </label><br>

              <div class="card-link"><a href="#" class="card-link mt-5">REGISTER ➜</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>
