table {
    border: none
}

.card {
    border-style: none;
    background-color: white;
    border-radius: 20px;
}

.row {
    height: 100vh;
}

input[type=text], input[type=number], input[type=email] {
    border-style: none none solid none;
    border-radius: 0;
}

input[type=text] {
    outline: none !important;
}