.card {
  border-radius: 20px;
}

.card-title {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #2a2a2a;
}

a {
  font-size: 2em;
  display: block;
  color: #2a2a2a;
}

.card-title>p {
  font-size: 14px
}

button {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 14px solid #26D2B3;
  color: #26D2B3;
  font-size: 25px;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  transition: all 0.3s;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  color: #E8E8E8;
  border-color: #E8E8E8;
}

button:hover:enabled {
  border-width: 18px;
  font-size: 30px;
}

.container {
  margin-top: 20vh;
  margin-bottom: 80px;
}

input {
  max-width: 130px;
}

input[type=text],
input[type=number],
input[type=email],
select {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  font-size: 14px;
  padding: 0;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
select:focus {
  border-color: #26D2B3;
  box-shadow: none;
}

.rank {
  color: #e8e8e8;
  font-weight: bolder;
}

.arrow {
  border-bottom: 3px solid #26D2B3;
  color: #26D2B3;
}

.time {
  color: #26D2B3;

}

.rank-item {
  border-radius: 20px;
  border: none;
}

.rank-item:hover {
  transform: scale(1.05);
  transition: transform ease 0.2s;
}
