<div id="background"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 col-md-6 col-xl-4">
      <div class="card m-5 pb-3 shadow-lg navigate" [routerLink]="['/admin']">
        <img class="card-img-top" src="../../assets/images/admin.png" alt="Card image cap">
        <div class="card-body">
          <h2>Admin</h2>
          <p class="card-text">Beobachten und administrieren Sie Ihre Events.</p>
          <a class="card-link">START ➜</a>
        </div>
      </div>
    </div>
    <div class="col-11 col-md-6 col-xl-4">
      <div class="card m-5 pb-3 shadow-lg navigate" [routerLink]="['/viewer', { outlets: { 'resultlist': ['live'] }}]">
        <img class="card-img-top" src="../../assets/images/binoculars.png" alt="Card image cap">
        <div class="card-body ">
          <h2>Zuschauer</h2>
          <p class="card-text">Schaue deinem Lieblingsspieler in Echtzeit zu.</p>
          <a class="card-link">START ➜</a>
        </div>
      </div>
    </div>
    <div class="col-11 col-md-6 col-xl-4">
      <div class="card m-5 pb-3 shadow-lg navigate" [routerLink]="['/chooserace']">
        <img class="card-img-top" src="../../assets/images/cyclist.png" alt="Card image cap">
        <div class="card-body ">
          <h2>Teilnehmer</h2>
          <p class="card-text">Füllen Sie das Formular aus und treten Sie einem Event bei.</p>
          <a class="card-link">START ➜</a>
        </div>
      </div>
    </div>
  </div>
</div>
