<div class="card mt-3 shadow" *ngFor="let i of participants">
	<div class="row card-body ">
		<div class="col-1" *ngIf="i.Time > 0">
			<p class="rank no-wrap">#{{i | participantToRank:participants}}</p>
		</div>
		<div class="col-1" *ngIf="i.Time <= 0">
			<p class="rank-grey no-wrap">?</p>
		</div>

		<div class="col-5 align-self-center">
			<p class="card-text">
				{{ i.Starter }} - {{ i.Firstname }}
				{{ i.Lastname }}
			</p>
		</div>

		<div class="col-2" *ngIf="i.Time > 0">
			<p class="rank no-wrap">{{ i.Sex | sexenglishtogermanpipe }}{{ i | participantToSexRank:participants }}</p>
		</div>
		<div class="col-2" *ngIf="i.Time <= 0">
			<p class="rank-grey no-wrap">{{ i.Sex | sexenglishtogermanpipe }}?</p>
		</div>

		<div class="col-4 no-wrap">
			<p class="rank">{{ i.Time | milliSecondsToTime }}</p>
			<p class="little-rank">
				{{ i.Time | milliSecondsToTime: true }}
			</p>
		</div>
	</div>
</div>