<div id="background"></div>
<div class="container">
  <div class="row justify-content-center align-items-center">

    <div class="card m-5 shadow-lg">
      <img class="card-img-top" src="../../assets/images/adminpic.png" alt="Card image cap">
      <div class="card-body">
        <h3>Admin</h3>
        <p class="card-text">Create. Organise. Monitor. Administrate your Sport Events. </p>
        <a [routerLink]="['/admin']" class="card-link">START ➜</a>
      </div>
    </div>

    <div class="card m-5 shadow-lg">
      <img class="card-img-top" src="../../assets/images/binoculars2.png" alt="Card image cap">
      <div class="card-body ">
        <h3>Viewer</h3>
        <p class="card-text">Watch your favourite Player in real time. </p>
        <a [routerLink]="['/viewer']" class="card-link">START ➜</a>
      </div>
    </div>

    <div class="card m-5 shadow-lg">
      <img class="card-img-top" src="../../assets/images/cyclist.png" alt="Card image cap">
      <div class="card-body ">
        <h3>Participant</h3>
        <p class="card-text">Don't want to sit around and just watch? Participate now!</p>
        <a [routerLink]="['/viewer']" class="card-link">START ➜</a>
      </div>
    </div>

  </div>
</div>