#background {
    position: absolute;
    top: 0;
    background-size:cover; 
    background-repeat: no-repeat;
    background-image: url('../../assets/images/bgCurve.png');
    height: 100%;
    width: 100%;
}

.card {
    border-radius: 20px;
    height: 330px;
    max-width: 220px;
}

.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    font-size: 11px;   
}

h3 {
    font-weight: bold;
}

a {
    border-bottom: 2px solid #26D2B3;
    padding-bottom: 3px;
    color: #26D2B3;
    font-size: 14px;  
    font-weight: bold;
}

.row {
    margin-top: 80px;
}

@media (min-width: 992px) {
    .row {
        margin-top: 25vh;
    }
}