<div id="background"></div>
<div class="container">
  <div class="row justify-content-center align-items-center">

    <div class="card m-5 shadow-lg">
      <img class="card-img-top" src="../../assets/images/admin.png" alt="Card image cap">
      <div class="card-body">
        <h3>Admin</h3>
        <p class="card-text">Beobachten und administrieren Sie Ihre Events.</p>
        <a [routerLink]="['/admin']" class="card-link">START ➜</a>
      </div>
    </div>

    <div class="card m-5 shadow-lg">
      <img class="card-img-top" src="../../assets/images/binoculars.png" alt="Card image cap">
      <div class="card-body ">
        <h3>Zuschauer</h3>
        <p class="card-text">Schaue deinem Lieblingsspieler in Echtzeit zu.</p>
        <a [routerLink]="['/viewer']" class="card-link">START ➜</a>
      </div>
    </div>

    <div class="card m-5 shadow-lg">
      <img class="card-img-top" src="../../assets/images/cyclist.png" alt="Card image cap">
      <div class="card-body ">
        <h3>Teilnehmer</h3>
        <p class="card-text">Füllen Sie das Formular aus und treten Sie einem Event bei.</p>
        <a [routerLink]="['/participant']" class="card-link">START ➜</a>
      </div>
    </div>

  </div>
</div>
