.card{
   
    height: 500px;
    border-radius: 20px;
}

.card-title{
    padding: 30px;
    font-size: 2em;
}

a{
    color:black;
}

.card-title>p{
    font-size: 15px
}

button{
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border: 15px solid #26D2B3;
    color: #26D2B3;
    font-size: 25px;
    background-color: white;
}

button:disabled{
    color: #E8E8E8;
    border-color: #E8E8E8;

}