<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 col-md-9 col-lg-8">
      <div class="card shadow-lg pb-3">
        <div class="card-title">
          <div class="row">
            <div class="col-1">
              <a [routerLink]="['/']">
                <fa-icon [icon]="faArrow"></fa-icon>
              </a>
            </div>
            <div class="col-11">
              <h2>Anmeldung</h2>
              <p>Füllen Sie das Formular aus, um teilzunehmen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>