.container {
	margin-top: 20vh;
	margin-bottom: 80px;
}
a {
	font-size: 2em;
	display: block;
	color:#2a2a2a;
}

.card-title > p {
	font-size: 14px
  }
  
  .card-link {
	border-bottom: 3px solid #26D2B3;
	padding-bottom: 5px;
	color: #26D2B3;
	font-size: 14px;
	font-weight: bold;
	padding-top: 1rem !important;
	width: fit-content;
  }
  
  .card {
	background-color: white;
	border-radius: 20px;
  }
  
  .card-title {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	color:#2a2a2a;
	}
	
	.race > .row > div {
		font-weight: bold;
	}

	.race > .row > div > a {
		display: inline-block;
		font-size: 17px;
	}

	.race {
		margin-bottom: 1vh;
		color: lightgray;
	}

	.race:hover {
		color: darkgrey;
		cursor: pointer;
	}