<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-10">
            <div class="header">
                <div class="row">
                    <div class="col-2" (click)="changeCurrentRace('live')">
                        <a [routerLink]="[{ outlets: {resultlist: ['live'] } }]" [ngClass]="{ active: activeRace == 'live' }">
                            <div class="item shadow-lg">Jetzt</div>
                        </a>
                    </div>
                    <div class="col-2" (click)="changeCurrentRace(races[0].Id)">
                        <a *ngIf="races[0]" [routerLink]="[{ outlets: {resultlist: ['old'] } }]" [queryParams]="{raceid: races[0].Id}"
                            [ngClass]="{ active: activeRace == races[0].Id }">
                            <div class="item shadow-lg">{{ races[0] | raceToString }}</div>
                        </a>
                    </div>
                    <div class="col-2" (click)="changeCurrentRace(races[1].Id)">
                        <a *ngIf="races[1]" [routerLink]="[{ outlets: {resultlist: ['old'] } }]" [queryParams]="{raceid: races[1].Id}"
                            [ngClass]="{ active: activeRace == races[1].Id }">
                            <div class="item shadow-lg">{{ races[1] | raceToString }}</div>
                        </a>
                    </div>
                    <div class="col-2" (click)="changeCurrentRace(races[2].Id)">
                        <a *ngIf="races[2]" [routerLink]="[{ outlets: {resultlist: ['old'] } }]" [queryParams]="{raceid: races[2].Id}"
                            [ngClass]="{ active: activeRace == races[2].Id }">
                            <div class="item shadow-lg">{{ races[2] | raceToString }}</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <div class="item shadow-lg">
                            <select name="races" id="races" #t (change)="selectedRace(t.value)" [ngClass]="{ active: listTitel != 'Rennen' }" placeholder='Rennen'>
                                <option value="" [selected]="optionIsSelected('live')" disabled hidden>Rennen</option>
                                <option *ngFor="let race of races" [selected]="optionIsSelected(race.Id)" value="{{ race.Id }}">{{ race | raceToString }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-1 child">
                        <button [disabled]="(activeRace == 'live')" type="button" class="btn pdf-btn shadow-lg mb-auto"
                            (click)="onPdfClick()">
                            <img src="../../assets/images/pdf.png" alt="Card image cap" width="40%">
                        </button>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="row">
                    <div class="card shadow-lg">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-1">
                                    <a [routerLink]="['/']">
                                        <fa-icon [icon]="faArrow"></fa-icon>
                                    </a>
                                </div>
                                <div class="col-sm">
                                    <h2>Jetzt live:</h2>
                                    <p>{{viewer.state | stateToText}}</p>
                                </div>
                                <div class="col-sm">
                                    <div class="no-wrap">
                                        <p class="time" [ngClass]="liveTimer.currentTime != 0 ? 'time' : 'time-grey'">{{liveTimer.currentTime
                                            |
                                            milliSecondsToTime}}</p>
                                        <p class="decis" [ngClass]="liveTimer.currentTime != 0 ? 'decis' : 'decis-grey'">{{liveTimer.currentTime
                                            |
                                            milliSecondsToTime:true}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3" style="height: 40vh; overflow-y:auto; overflow-x: hidden;">
                <router-outlet name="resultlist"></router-outlet>
            </div>
        </div>
    </div>
</div>