.card {
    border-radius: 20px;
}

.participant {
    display: inline;
    text-align: center;
}

.rank-grey{
    font-size: 36px;
    font-weight: bold;
    color: #E8E8E8;
    display: inline;
}

.rank{
    font-size: 36px;
    font-weight: bold;
    color: #26D2B3;
    display: inline;
}

.little-rank {
    font-size: 24px;
    font-weight: bold;
    color: #26D2B3;
    display: inline;
}

.participant{
    vertical-align: middle;
}

.no-wrap {
    white-space: nowrap;
}
