<div class="card mt-3 shadow" *ngFor="let i of participantList">
  <div class="row">
    <div *ngIf="i.Time > 0">
      <div class="col-2 mx-3">
        <p class="rank no-wrap">{{getRank(i)}}</p>
      </div>
    </div>
    <div *ngIf="i.Time <= 0">
      <div class="col-2 mx-3">
        <p class="rank-grey no-wrap">?</p>
      </div>
    </div>
    <div class="col-5 mt-3">
			<p class="participant">{{i.Starter}} - {{i.Participant.Firstname}} {{i.Participant.Lastname}}</p>
		</div>
		<div class="col-4 mx-3">
			<p class="rank no-wrap">{{i.Time | milliSecondsToTime}}</p>
      		<p class="little-rank no-wrap">{{i.Time | milliSecondsToTime:true}}</p>
		</div>
  </div>
</div>