<div class="card mt-3 shadow-lg" *ngFor="let i of participantList">
  <div class="row">
    <div *ngIf="i.Time.End - i.Time.Start > 0">
      <div class="col mx-3">
        <p class="rank no-wrap">{{getRank(i)}}</p>
      </div>
    </div>
    <div *ngIf="i.Time.End - i.Time.Start <= 0">
      <div class="col mx-3">
        <p class="rank-grey no-wrap">??</p>
      </div>
    </div>
    <div class="col mt-3">
      <p class="participant">{{i.Starter}} - {{i.Participant.Firstname}} {{i.Participant.Lastname}}</p>
    </div>
  </div>
</div>