/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
    font-family: 'Roboto', sans-serif !important;
}

html {
    position: relative;
    min-height: 100%;
}

h1, h2, h3 {
    color: #2a2a2a !important;
}

p, input {
    color: #505050 !important;
}