.card {
    border-radius: 20px;
}

.card-title {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color:#2a2a2a;
}

a {
    font-size: 2em;
    display: block;
    color:#2a2a2a;
}

.card-title > p {
    font-size: 14px
}

.card-body {
    padding-bottom: 150px;
}

.placeholder {
    height: 50px;
}

.time{
    font-size: 64px;   
    color: #26D2B3;
    font-weight: bold;
    display: inline;
}

.time-grey{
    font-size: 64px;   
    font-weight: bold;
    color: #E8E8E8;
    display: inline;
}

.time-small{
    font-size: 18px;   
    font-weight: bold;
    color: #E8E8E8;
    display: inline;
}

.decis{
    font-size: 36px;   
    color: #26D2B3;
    font-weight: bold;
    display: inline;
}

.decis-grey{
    font-size: 36px;   
    font-weight: bold;
    color: #E8E8E8;
    display: inline;
}

.decis-small{
    font-size: 12px;   
    font-weight: bold;
    color: #E8E8E8;
    display: inline;
}

.container {
    margin-top: 20vh;
    margin-bottom: 80px;
}

.no-wrap {
    white-space: nowrap;
}