<div class="container" style="height:100%">
    <div class="row justify-content-center align-items-center" style="height:100%">
        <div class="card col-6 shadow">
            <div class="row">
                <div class="col-md-1">
                    <a [routerLink]="['/']" class="card-title">
                        <fa-icon [icon]="faArrow"></fa-icon>
                    </a>
                </div>
                <div class="card-title mb-0">
                    Zuschauer
                    <p>{{viewerMessage}}</p>
                </div>
            </div>
            <div class="card-body">
                <div *ngIf="!measuring" class="offset-md-2 align-self-center">
                    <p class="time-grey">{{curTime | milliSecondsToTime}}</p>
                    <p class="decis-grey">{{curTime | milliSecondsToTime:true}}</p>
                </div>
                <div *ngIf="measuring" class="offset-md-2 align-self-center">
                    <p class="time">{{curTime | milliSecondsToTime}}</p>
                    <p class="decis">{{curTime | milliSecondsToTime:true}}</p>
                </div>
                <div *ngIf="!measuring && (prevTime >= 0)" class="offset-md-2 align-self-end">
                    <p class="time-small">Vorheriges Rennen:</p>
                    <br />
                    <p class="time-small">{{prevTime | milliSecondsToTime}}</p>
                    <p class="decis-small">{{prevTime | milliSecondsToTime:true}}</p>
                </div>
            </div>
        </div>
    </div>
</div>