<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-7 col-xl-7">
            <div class="header">
                <div class="row">
                    <div class="col-2 item">Live now</div>
                    <div class="col-2 item">07.12.18</div>
                    <div class="col-2 item">09.12.18</div>
                    <div class="col-2 item">11.12.18</div>
                    <div class="col-4 item">enter date to view more</div>
                </div>
            </div>

            <div class="card shadow-lg">
                <div class="card-title">

                    <div class="row">
                        <div class="col-1">
                            <a [routerLink]="['/']">
                                <fa-icon [icon]="faArrow"></fa-icon>
                            </a>
                        </div>
                        <div class="col-sm">
                            <h2 class="no-wrap">Live now</h2>
                            <p>{{message}}</p>
                        </div>
                        <div class="col-sm">
                            <div class="no-wrap">
                                <p class="time" [ngClass]="measuring ? 'time' : 'time-grey'">{{curResultStationTime |
                                    milliSecondsToTime}}</p>
                                <p class="decis" [ngClass]="measuring ? 'decis' : 'decis-grey'">{{curResultStationTime |
                                    milliSecondsToTime:true}}</p>
                            </div>
                            <!--<div *ngIf="prevResultStationTime > 0">
                                <p class="time-small">Vorheriges Rennen:</p>
                                <br />
                                <p class="time-small">{{prevResultStationTime | milliSecondsToTime}}</p>
                                <p class="decis-small">{{prevResultStationTime | milliSecondsToTime:true}}</p>
                            </div>-->
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
