<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-7 col-xl-7">
            <div class="header">
                <div class="row">
                    <div class="col-2 child" (click)="changeCurrentRace('live')">
                        <a [routerLink]="[{ outlets: {resultlist: ['live'] } }]" [ngClass]="{ active: activeRace === 'live' }">
                            <div class="item shadow-lg">Live now</div>
                        </a>
                    </div>
                    <div class="col-2 child" (click)="changeCurrentRace('first')">
                        <a *ngIf="races[0]" [routerLink]="[{ outlets: {resultlist: ['old'] } }]" [queryParams]="{raceid: races[0].Id}"
                            [ngClass]="{ active: activeRace === 'first' }">
                            <div class="item shadow-lg">{{ races[0] | raceToString }}</div>
                        </a>
                    </div>
                    <div class="col-2 child" (click)="changeCurrentRace('second')">
                        <a *ngIf="races[1]" [routerLink]="[{ outlets: {resultlist: ['old'] } }]" [queryParams]="{raceid: races[1].Id}"
                            ngClass]="{ active: activeRace === 'second' }">
                            <div class="item shadow-lg">{{ races[1] | raceToString }}</div>
                        </a>
                    </div>
                    <div class="col-2 child" (click)="changeCurrentRace('third')">
                        <a *ngIf="races[2]" [routerLink]="[{ outlets: {resultlist: ['old'] } }]" [queryParams]="{raceid: races[2].Id}"
                            [ngClass]="{ active: activeRace === 'third' }">
                            <div class="item shadow-lg">{{ races[2] | raceToString }}</div>
                        </a>
                    </div>
                    <div class="col-4 child">
                        <div class="item shadow-lg">
                            <select name="races" id="races" #t (change)="selectedRace(t.value)" [ngClass]="{ active: activeRace === 'another' }">
                                <option value="" selected disabled hidden>Datum des Rennens</option>
                                <option *ngFor="let race of races" value="{{ race.Id }}">{{ race | raceToString }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow-lg">
                <div class="card-title">

                    <div class="row">
                        <div class="col-1">
                            <a [routerLink]="['/']">
                                <fa-icon [icon]="faArrow"></fa-icon>
                            </a>
                        </div>
                        <div class="col-sm">
                            <h2>Live now</h2>
                            <p>{{viewer.state | stateToText}}</p>
                        </div>
                        <div class="col-sm">
                            <div class="no-wrap">
                                <p class="time" [ngClass]="liveTimer.currentTime != 0 ? 'time' : 'time-grey'">{{liveTimer.currentTime
                                    |
                                    milliSecondsToTime}}</p>
                                <p class="decis" [ngClass]="liveTimer.currentTime != 0 ? 'decis' : 'decis-grey'">{{liveTimer.currentTime
                                    |
                                    milliSecondsToTime:true}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3" style="height: 40vh; overflow-y:auto; overflow-x: hidden;">
                <router-outlet name="resultlist"></router-outlet>
            </div>
        </div>
    </div>
</div>