<div class="card-deck mx-auto">
  <div class="card ">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-title text-center">Admin</div>
    <div class="card-body text-center">
      <p class="card-text">Some text inside the first card</p>
    </div>
  </div>
  <div class="card ">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-title text-center">Viewer</div>
    <div class="card-body text-center">
      <p class="card-text">Some text inside the second card</p>
    </div>
  </div>


</div>
