.card {
    border-radius: 20px;
    border: none;
    width: 100%;
}

.card-body {
    padding-bottom: 10px;
    padding-top: 10px;
}

.participant {
    display: inline;
    text-align: center;
}

.inline {
    display: inline;
}

.rank-grey{
    font-size: 30px;   
    font-weight: bold;
    color: #E8E8E8;
    display: inline;
}

.rank{
    font-size: 30px;   
    font-weight: bold;
    color: #26D2B3;
    display: inline;
}

.little-rank {
    font-size: 22px;   
    font-weight: bold;
    color: #26D2B3;
    display: inline;
}

.participant{
    vertical-align: middle;
}

.no-wrap {
    white-space: nowrap;
}